<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Deep cleaning of holiday, residential and private properties</h2>
        <p class="lead">Smart Home Cleaning offers a professional deep cleaning for your entire home using the newest and highly efficient technology by the leader on the market - Rainbow!*</p>
        <p>This unique water filtration system captures all household dirt, while remaining microscopic particles are caught by the HEPA Neutralizer Filtration System.</p>
        <p>This two-stage filtration combination removes nearly 100% of the allergens and contaminants from your home.</p>
        <p>The smartest way to have a clean home and healthy environment for the family</p>
        <ul class="list-unstyled">
          <li>*Certified Air Cleaner</li>
          <li>*Certified Asthma &amp; Allergy Friendly&trade;</li>
          <li>*Recommended for pet owners</li>
        </ul>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
