<section id="prices" class="prices">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Prices</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div id="prices-cleaning" class="prices-item">
              <h3>Cleaning</h3>
              <table class="table table-condensed">
                <thead>
                  <th>Size</th>
                  <th>Price</th>
                </thead>
                <tbody>
                  <tr>
                    <td>Studio / 1 Bedroom Appartment</td>
                    <td>40 &euro;</td>
                  </tr>
                  <tr>
                    <td>2 Bedroom Appartment</td>
                    <td>50 &euro;</td>
                  </tr>
                  <tr>
                    <td>3 Bedroom Appartment</td>
                    <td>60 &euro;</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-6">
            <div id="prices-wash-and-dry" class="prices-item">
              <h3>Wash &amp; Dry</h3>
              <table class="table table-condensed">
                <thead>
                  <th>Item</th>
                  <th>Price</th>
                </thead>
                <tbody>
                  <tr>
                    <td>Single bed</td>
                    <td>10 &euro;</td>
                  </tr>
                  <tr>
                    <td>Double Bed</td>
                    <td>15 &euro;</td>
                  </tr>
                  <tr>
                    <td>Carpet</td>
                    <td>10 &euro; per room</td>
                  </tr>
                  <tr>
                    <td>Rug</td>
                    <td>5 &euro;</td>
                  </tr>
                  <tr>
                    <td>Sofa</td>
                    <td>5 &euro; per seat</td>
                  </tr>
                  <tr>
                    <td>Chair</td>
                    <td>5 &euro;</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
